body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f7;
    margin: 0;
    padding: 40px;
}
.container {
    width: 600px;
    max-width: 90%;
    margin: auto;
    padding: 25px;
    background-color: rgb(242, 237, 237);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgb(27, 109, 153);
}
h1 {
    text-align: center;
    color: #000000;
}
.input-section {
    display: flex;
    gap: 10px;
}
#taskInput {
    flex: 1;
    padding: 12px;
    border: 1px solid #46134b;
    border-radius: 5px;
    font-size: 15px;
}
#addTaskBtn {
    padding: 12px 18px;
    background-color: #8f1737;
    color: rgb(240, 232, 232);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#addTaskBtn:hover {
    background-color: #22705f;
}
#taskList {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}
.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #ac97c0;
    border: 1px solid #049b2f;
    border-radius: 5px;
}
.task-text {
    flex: 1;
    font-size: 16px;
}
.completed {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}
.complete-btn {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #08530d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.delete-btn {
    margin-left: 8px;
    padding: 8px 12px;
    background-color: #c71010fb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.complete-btn:hover {
    background-color: #e20707;
}
.delete-btn:hover {
    background-color: #a82c2c;
}
#emptyMessage {
    text-align: center;
    color: #0d5444;
    font-style: italic;
}